
ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 272px;
}

ul.menu a {
  display: block;
  text-decoration: none;
  	background-image:url(../images/sidehead_bg.png);
	background-repeat:repeat-x;
	height:33px !important;
	line-height:33px !important;
	padding-left:10px;
	font-family: 'myriadpro-cond';
	font-size:19px;	
}

ul.menu a img{
	float:right;
	margin-top:12px;
}

ul.menu li {
  margin-top: 1px;
}

ul.menu li a {
  /*background: #333;*/
  color: #000;	
  padding: 0.5em;
}

ul.menu li a:hover {
  /*background: #000;*/
}

ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul.menu li ul li a:hover {
  /*background: #aaa;*/
  border-left: 5px #000 solid;
  padding-left: 15px;
}

.accordion-icon-down{
	background-image:url(../images/downarrow.png);
	background-repeat:no-repeat;
	width:9px;
	height:5px;
	float:right;	
	position:relative;
	z-index:10px;
	margin:10px 5px 0 0;
}

.accordion-icon-up{
	background-image:url(../images/uparrow.png);
	background-repeat:no-repeat;
	width:9px;
	height:5px;
	float:right;	
	position:relative;
	z-index:10px;
	margin:10px 5px 0 0;
}