@charset "utf-8";
/* CSS Document */

body{
	background-color:#f6f6f6;
	font-size:14px;
	font-family: 'OpenSansRegular';
	color:#666666;
}


@font-face {
    font-family: 'myriadpro-cond';
    src: url('fonts/myriadpro-cond-webfont.eot');
    src: url('fonts/myriadpro-cond.eot') format('embedded-opentype'),
         url('fonts/myriadpro-cond-webfont.woff') format('woff'),
         url('fonts/myriadpro-cond-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-cond-webfont.svg#myriadpro-cond') format('svg');
}


@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/opensans-semibold.eot');
    src: url('fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('fonts/opensans-semibold.woff') format('woff'),
         url('fonts/opensans-semibold.ttf') format('truetype'),
         url('fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype'),
         url('fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}

a{
	text-decoration:none;
}

img{
	outline:none;
}

h1,h2,h3,h4,h5,h6,p,ul{
	padding:0;
	margin:0;
	list-style:none;
	font-weight:normal;
}

a:hover{
	color:#000;
}


.clear{
	clear:both !important;
}


.outer-wrap{
	float:left;
	width:100%;

}

.inner-wrap{
	margin:0 auto;	
	width:1000px;
	position:relative;
	z-index:100;
}

.main-wrap{
	margin:0 auto;
	width:1000px;
}

.header{
	float:left;
	width:1000px;	
}


.green-bg{
	background-image:url(../images/topbg.png);
	background-repeat:repeat;
	background-color:#7fac3c;	
	float:left;
	width:100%;
}

.logo{
	float:left;
	width:130px;
	margin-top:10px;
}
.navigation{
	float:right;
	width:650px;
	background-image:url(../images/navbg.png);
	background-repeat:repeat-x;
	
	
}

.navigation ul{
	list-style:none;
}

.navigation ul li{
	float:left;
	height:45px;
	line-height:45px;
}

.navigation ul li a{
	padding:0 25px;
	color:#fff;
	font-size:16px;
}


.navigation ul li a:hover, .navigation ul li a.active{
	background-color:#90ba4a;
	float:left;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


.banner{
	float:left;
	width:100%;
	/*background-image:url(../images/banner.jpg);
	background-repeat:no-repeat;*/
	background-color:#393939;
	height:290px;
	overflow:hidden;
}

.banner h2{
	color:#fff;
	padding:20px 0 0 30px;
	font-size:36px;
	text-shadow:1px 1px 15px #000, 1px 1px 15px #000, 1px 1px 15px #000
}

.search-criteria{
	margin:15px 0 0;
	float:left;	
	width:1000px;
}

.dropdown{
	width:200px;
	height:45px;
	margin-right:15px;
	margin-bottom:15px;
	padding:10px 15px;
	background-image:url(../images/inputbg.png);
	background-repeat:repeat-x;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
}


.big-textbox{
	width:300px;
	height:25px;	
	padding:12px 15px;
	background-image:url(../images/inputbg.png);
	background-repeat:repeat-x;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	margin-bottom:15px;
}


.search-criteria .orange-btn{
	padding:0 0 0 6px!important;
	text-align:center;
}
.orange-btn{
	background-image:url(../images/orangebtn.png);
	background-repeat:repeat-x;
	background-color:#e48c2b;
	color:#fff;
	font-size:20px;
	color:#fff;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	height:45px;
	text-align:center;
	padding:0 25px;	
}


.orange-btn a{
	padding:10px 0;
	color:#fff;
	display:block;
	font-size:16px;
}

.orange-btn:hover{
	cursor:pointer;
	background-color:#91c540 !important;
	background-image:none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

}
.content{
	width:970px;
	float:left;
	margin:10px 0;
	background-color:#fff;
	border:1px solid #dcdcdc;
	padding:15px;
}

.content h2{
	color:#2e2e2e;
	font-size:18px;
	 font-family: 'OpenSansRegular';
	 border-bottom:1px solid #dcdcdc;
	 padding-bottom:10px;
	 margin-bottom:15px;	
}



.feature-services{
	float:left;
	width:970px;
}

.service{
	float:left;
	width:220px;
	margin:0 20px 0 0;
	text-align:center;
}

.service:hover img{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	opacity:0.4;
	 filter:alpha(opacity=40);
}




	

.service img{
	margin-bottom:25px;
}

.service h2{
	font-size:20px;
	color:#6aaa04;
	padding-bottom:10px;
}

.service p{
	font-size:14px;
	color:#727272;
	line-height:20px;
}


.shadow{
	margin:30px 0;
	float:left;
	width:950px;
}

.sidebar{
	float:left;
	width:225px;
	font-size:12px;
}

.sidebar span{
	
}

.listing ul{
	margin:15px 0 10px 0;
}

.listing ul li{
	display:block;
	margin:5px 0 0 0;
}

.listing ul li a{
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	color:#0378bb !important;
	padding:0 0 0 15px;
	font-size:12px;

}

.listing ul li a:hover{
	color:#000 !important;
}

.sidebar a{
	color:#d77918;
}

.sidebar a:hover{
	color:#000;
}

.latest-news{
	float:left;
	width:225px;
	margin:15px 0 0px 0;
	
}

.news-row{
	margin-bottom:15px;
	float:left;
}

.news-row .date{
	float:left;
	width:36px;
	background-image:url(../images/calendarbg2.png);
	background-repeat:no-repeat;
	height:40px;
	color:#3f3f3f;
	font-size:13px;
	text-align:center;
	line-height:14px;
	padding:3px 0 0 0;
	margin-top:0px;
}
.news-row .newstext{
	font-size:12px;
	float:right;
	width:170px;
	line-height:14px;
	padding-left:10px;
	
}

.news-row .newstext h4{
	color:#0378bb;
	padding:0 0 0px 0;
	font-size:13px;
}


.grid{
	width:100%;
	border-collapse:collapse;	
	background-color:#fcfcfc;
	border:1px solid #ccc;
}

.grid thead{
	background-image:url(../images/headingbg.png);
	background-repeat:repeat-x;
}

.grid td{
	padding:5px 0;
	color:#666666;
	border-top:1px solid #fcfcfc;
	border-botom:1px solid #fcfcfc;
	text-align:center;
}
.grid thead th{
	text-align:center;
	color:#fff;
	padding:15px 0;
}

.grid .row{
	background-color:#fcfcfc;
}

.grid .row:hover, .grid .row:hover td, .grid .row:hover, .grid .row-active td{
	background-color:#e6e6e6;
	border-top:1px solid #cfcfcf;
	border-botom:1px solid #cfcfcf;
}

.grid .altrow{
	background-color:#e6e6e6;
}

.action-btns img{
	padding:0 10px 0 0;
}

.grid td a{
	color:#666666;
}

.btn-red{	
	background-color:#e05746;	
	text-align:center;
	margin:0 0 20px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	
}

.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
}

.btn-red a{
	font-size:18px;
	color:#fff;	
	background-color:#e05746;
	height:50px;
	line-height:50px;
	width:180px;
	display:inline-block;
	border-bottom:5px solid #b9b9b9;
	
}

.btn-red a:hover{
	text-align:center;	
	color:#fff;	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background-color:#e3b740;	
	border-bottom:5px solid #b78b14;	
}

.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

.paignation{
	float:right;
	width:1000px;
	margin-top:20px;
}


.paignation ul{
	list-style:none;
	float:right;
}

.paignation ul li{
	float:left;	
}

.paignation ul li a{
	padding:2px 8px;
	color:#666666;
	font-size:14px;
	background-color:#fff;
	border:1px solid #666666;
	margin:0px 4px;
}


.paignation ul li a:hover, .paignation ul li a.active{
	background-color:#e05746;
	color:#fff;
	border:1px solid #b9b9b9;
}


.content-table{
	width:100%;
	border-collapse:collapse;	
	background-color:#fff;
	border-bottom:3px solid #bcbcbc;	
	float:left;
}

.content-table h1{
	background-color:#298bcc;
	height:60px;
	line-height:60px;
	padding:0 0 0 30px;
	font-size:18px;
	font-family: 'OpenSansSemibold';
	border-bottom:3px solid #ccc;
	color:#fff;
	
}

.form-wrap{
	float:left;
	width:920px;
	padding:30px;
}

.form-row{
	float:left;
	width:920px;
	margin-top:10px;
}

.form-label{
	float:left;
	width:200px;
	font-size:14px;
	padding-top:10px;
}

.form-textbox{
	float:left;	
	width:260px;
	/*border:1px solid #ccc;*/
	padding:10px 20px 10px 20px;
	-webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow:-2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	border:none;
}

.btn-submit{
	margin:10px 0 0 200px;
	color:#fff;
	border-left:none;
	border-right:none;	
	font-size:18px;
	height:60px;
	line-height:60px;
	width:180px;
	border-bottom:5px solid #b9b9b9;
}

.btn-submit:hover{
	margin:10px 0 0 200px;
	color:#fff;
	border-left:none;
	border-right:none;	
	font-size:18px;	
	background-color:#e3b740;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border-bottom:5px solid #b78b14;
}


.main-content{
	float:left;
	width:665px;
	/*width:690px;*/
	border:1px solid #f4f6f8;
	padding:0 15px 15px 15px;
}


.jobs-row{
	width:690px;
	float:left;
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #dae0e6;
}

.jobs-text{
	width:590px;
	float:left;
}

.jobs-text h4{
	width:490px;
	float:left;
	font-size:16px;
	color:#0378bb;
}

.jobs-text .date{
	width:90px;
	float:left;
	font-size:12px;
	color:#b0b0b0
}

.jobs-text .date img{
	margin:0 5px -3px 0;
}

.jobs-text p{
	width:600px;
	float:left;
	font-size:14px;
	color:#757b83;
	margin:10px 0 0 0;
	font-size:13px;
}


.newpaper-logo{
	float:right;
}

.latest-videos{
	float:left;
	width:940px;
	background-color:#f4f4f4;
	border:1px solid #d5d5d5;
	border-bottom:4px solid #aad665;
	padding:20px 10px;
}

.video-links{
	margin:20px 0 0 20px;
	float:left;
	width:265px;
}

.video-links a{
	font-size:13px !important;
	
}

.video-links ul li {
	font-size:13px !important;
	margin-bottom:10px;	
}

.flash-player{
	float:right;
	width:585px;
}


.footer-bg{
	background-color:#fbfbfb;
	border-top:1px solid #dedede;
	padding:15px 0;
}


.footer-col{
	background-color:#fbfbfb;		
	float:left;
	width:170px;
	padding-right:10px;
	border-right:1px solid #dedede;
	margin-right:10px;
	min-height:150px;
}

.footer-col h5{
	padding-bottom:15px;
	color:#2b2b2b;
	font-size:17px;
	text-transform:uppercase;
}

.footer-col p{
	padding-bottom:10px;
	color:#919090;
	font-size:12px;	
}

a.facebook-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/facebook-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.facebook-icon:hover{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	background-position:0 -30px;	

	
}

a.twitter-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/twitter-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.twitter-icon:hover{
		-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	background-position:0 -30px;	

}

a.linkedin-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/linkedin-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.linkedin-icon:hover{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	background-position:0 -30px;	
}

.footer-col ul li{
	display:block;
	margin-bottom:5px;
}

.footer-col ul li a{
	color:#0378bb;
	font-size:12px !important;	
}

.footer-col ul li a:hover{
	color:#000;	
}

.nobdr-spacing{
	border:none !important;
	padding:0 !important;
}


.address-row{
	float:left;
	margin-bottom:5px;
}

.address-row a{
	color:#0378bb;
}

.address-row a:hover{
	color:#454545;
}

.address-row .icon{
	float:left;
	width:35px;
}

.address-row .text{
	float:right;
	width:170px;
	font-size:12px;
	line-height:16px;
	padding-left:10px;
}

.copyright-bg{
	background-color:#6d6e6f;
	padding:10px 0;
	font-size:12px;
	color:#afafaf;
}

.copyright-bg a{
	color:#ececec;
}

.copyright-bg a:hover{
	color:#000;
}

.top-space{padding-top:8px;}



#topcontrol{
	bottom: 5px;
    cursor: pointer;
    opacity: 1;
    position: relative;
    right: 5px;
	display:none;
}




#slideshow {
    position:absolute;
    height:300px;
	text-align:center;
	width:100%;
}

#slideshow DIV {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    opacity:0.0;
    height: 300px;
}

#slideshow DIV.active {
    z-index:10;
    opacity:1.0;
}

#slideshow DIV.last-active {
    z-index:9;
}

#slideshow DIV IMG {
    height: 292px;
    display: block;
    border: 0;
	margin-top:-70px;   
	max-width:1345px !important;
}

/************ Inner Page Style *************/

.inner-search{
	background-image:url(../images/inner_search.png) !important;
	background-repeat:repeat-x;
	height:63px;
	padding:5px 0 0 0;
}

.inner-top-search{
	float:left;
	width:990px;
	padding:10px 5px 5px 5px;
	background-color:#fff;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkits-border-radius:5px;
}

.sub-btn-space{
	margin-top:-5px;
}

.top-txt-field{
	width:190px !important;
	border:none;
	border-right:1px solid #dddddd;
	color:#434343;
	font-size:13px;
	padding-right:10px;
	margin-left:10px;
}

.inner-wrap2{
	float:left;
	width:100%;	
}

.right-wrap{
	float:left;
	width:725px;
	/*margin-top:15px;*/
}

.right-wrap-inner{
	float:left;
	width:740px;
	margin-top:20px;
}

.select-filter{
	float:left;
	width:231px;
	padding:5px 10px;
	margin:15px 15px 15px 0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkits-border-radius:5px;
	border:1px solid #d0d0d0;
	color:#7c7c7c;
	font-size:13px;
	
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.2);
}

.btn-blue2{
	background-image:url(../images/btn_blue_bg.jpg);
	background-repeat:repeat-x;
	background-color:#039ed7;
	color:#fff;
	padding:0px 15px;
	height:28px;
	line-height:28px;
	border:1px solid #0786b3;
	border-bottom:2px solid #6b9ab6;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	margin-right:20px;
}

.btn-blue2:hover{
	cursor:pointer;
}

.right-wrap h3{
	background-color:#10afe7;
	padding:5px 10px;
	font-size:18px;
	color:#fff;
	margin-bottom:5px;
}

.calendar-wrap{
	float:left;
	width:220px;
	min-height:283	px;
	padding:5px;
	/*border:1px soild #dedede;*/
	border:1px solid #dedede;
	margin:10px 12px 0 0;
	text-align:center;
}

.calendar-wrap img{	
	margin:5px 0;
}

.newspaper-logo-calendar{
	height:45px;
	
}

.new-jobs{
	float:left;
	width:100%;
	text-align:center;
	margin:5px 0;
	
}

.new-jobs a{
	color:#0378bb;
	text-decoration:underline;
}

.new-jobs a:hover{
	color:#0378bb;
	text-decoration:none;
}


.right-bar{
	float:right;
	width:200px;

}

.right-ad{
	float:left;
	width:200px;
	text-align:center;
	height:140px;
	line-height:140px;
	font-size:26px;
	color:#686868;
	background-color:#efefef;
	margin-bottom:15px;
}


.right-video{
	float:left;
	width:200px;
	margin-bottom:15px;
}

a .grey-box{
	float:left;
	width:200px;
	margin-bottom:15px;	
	background-color:#f6f6f6;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkits-border-radius:6px;
	border:1px solid #ececec;
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
	color:#50575f;
	/*box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
	/*-webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

a .grey-box:hover{	
	background-color:#eceff5;	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.grey-box .icon{
	float:left;
	width:55px;
	margin:15px 0 0 6px;
	text-align:center;
}

.grey-box h3{
	float:left;
	width:120px;
	margin:7px 0 0 10px;
	font-size:16px;
}

.left-side{
	float:left;
	width:272px;
	background-image:url(../images/sidebarbg.png);
	background-repeat:repeat-y;
	border-right:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
	padding-bottom:15px;
	margin-top:-1px;
}

.left-side h2{	
	background-image:url(../images/sidehead_bg.png);
	background-repeat:repeat-x;
	height:33px !important;
	line-height:48px !important;
	padding-left:10px;
	font-family: 'myriadpro-cond';
	font-size:19px;
}

.left-side span{	
	font-size:12px;
	padding:0px 0 0 10px;
	display:block;
}


.input-left{
	width:245px;
	color:#989898;
	font-size:14px;
	margin:10px 0 10px 10px;
}


.main-content-ad{
	float:left;
	width:665px;
	background-color:#efefef;
	text-align:center;
	height:100px;
	line-height:100px;
	color:#c4c4c4;
	font-size:30px;
	margin:20px 0;
}

.grid{
	margin:15px 0 0 0;
	border-collapse:collapse;
}

.grid th{
	background-image:url(../images/search_result_headbg.jpg);
	background-repeat:repeat-x;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#1e7bb7;
	padding-left:10px;
	font-weight:normal;
	text-align:left;
		border:1px solid #efefef;
}

.grid tr:nth-child(even) {background: #fff}
.grid tr:nth-child(odd) {background: #f7f7f7}

.grid td{	
	border:1px solid #efefef;
	text-align:left;
	font-size:12px;
	padding:3px 5px 5px 10px;
}

.pagination{
	float:right;
	width:auto;
	margin:10px 0;
}

.pagination ul{
	list-style:none;
}

.pagination ul li{
	display:inline;
	
}

.pagination ul li a{
	background-image:url(../images/paginationbg.jpg);
	background-repeat:repeat-x;
	line-height:19px;
	height:19px;
	color:#969696;
	border:1px solid #e7e7e7;	
	padding:5px 10px 5px 10px;	
}

.pagination ul li a:hover{
	color:#fff;
	background-color:#757575;
	background-image:none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}



 /* Combobox styles */
		
		.right-wrap-inner .combowrap{ margin:0 13px 13px 0;}
		.left-side .combowrap{ margin:10px 0 10px 10px; width:248px;}
        .combowrap {
            color:#333;
            padding:6px;
            width:220px;
            border-collapse:collapse;
            border-spacing:0;
            border:solid 1px #d0d0d0;
            -moz-border-radius:3px;
            -webkit-border-radius: 3px;
            border-radius:3px;
            -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
            -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
            box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
            background-color: #f2f3f2;
        }

		
        .combowrap {
            background-color: #fff; 
            overflow:hidden;
            padding:0;
            width:230px;
			float:left;
        }
		
		
        .combogrey {
            background-color: #f2f3f2; 
        }		

        .combowrap input {
            border:0px;
            background:none;
            -webkit-box-shadow:none;
            -moz-box-shadow: none;
            box-shadow: none;
            -moz-border-radius:0;
            -webkit-border-radius:0;
            border-radius:0;
			font-size:13px !important;
			color:#7d7d7d;
			padding:0 0 0 10px !important;
			margin-bottom:5px !important;
        }

        .combowrap .ui-button {
            border:none;
            border-spacing:0;
            background:transparent url('../images/combobox-arrow.jpg');
			background-repeat:no-repeat;
			background-position:15px 15px;
            padding:6px 0;
            height:30px;
            width:29px;
            cursor:pointer;
            vertical-align: bottom;
        }

        .combowrap .ui-button:hover {
           /* background-position:center -16px;*/
        }

        .combowrap input[type=text]:focus,
        .combowrap input[type=email]:focus,
        .combowrap input.hasvalue {
            background:none;
			border:none;
        }

        .combowrap .ui-autocomplete-input {
            width:185px;
            line-height:18px;
            margin:0;
			cursor:default;
        }
		
		.left-side .combowrap .ui-autocomplete-input{
			 width:200px;
		}

        .ui-autocomplete {
            position: absolute; 
            cursor: default;    
            background:#fff; 
            border:1px solid #999;
            -moz-border-radius:0 0 3px 3px;
            -webkit-border-radius:0 0 3px 3px;
            border-radius:0 0 3px 3px;
            -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.35);
            -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.35);
            box-shadow: 0 3px 5px rgba(0,0,0,0.35); 
			max-height:200px;
			min-width:230px;
			overflow-y:auto;
			overflow-x:hidden;			
        }	

        .ui-menu {
	        display:block;
        }

        .ui-menu .ui-menu {
	        margin-top: -3px;
        }

        .ui-menu .ui-menu-item {
	        margin:0;
	        padding: 0;
	        width: 100%;
        }

        .ui-menu .ui-menu-item a {
	        text-decoration:none;
	        display:block;
	        padding:0 20px 0 8px;
	        line-height:24px;
	        font-size:13px;
	        color:#666;
	        white-space:nowrap;
        }

        .ui-menu .ui-menu-item a.ui-state-hover,
        .ui-menu .ui-menu-item a.ui-state-active {
            background-color:#54bdcc;
            color:#fff;
        }
		
		.left-text-box{
			float:left;
			width:205px;
			border:1px solid #d0d0d0;          
            -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
            -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
            box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2);
			height:22px;
			margin:10px 0 10px 10px;
			border-right:none;
			padding-left:10px;
			font-size:13px;
		}
		
		.left-search-icon{
			margin:10px -2px 0 0;
		}