@charset "utf-8";
/* CSS Document */

body{
	background-color:#f6f6f6;
	font-size:14px;
	font-family: 'OpenSansRegular';
	color:#666666;
}


@font-face {
    font-family: 'myriadpro-cond';
    src: url('fonts/myriadpro-cond-webfont.eot');
    src: url('fonts/myriadpro-cond.eot') format('embedded-opentype'),
         url('fonts/myriadpro-cond-webfont.woff') format('woff'),
         url('fonts/myriadpro-cond-webfont.ttf') format('truetype'),
         url('fonts/myriadpro-cond-webfont.svg#myriadpro-cond') format('svg');
}


@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/opensans-semibold.eot');
    src: url('fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('fonts/opensans-semibold.woff') format('woff'),
         url('fonts/opensans-semibold.ttf') format('truetype'),
         url('fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}


@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype'),
         url('fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}

a{
	text-decoration:none;
}

img{
	outline:none;
}

h1,h2,h3,h4,h5,h6,p,ul{
	padding:0;
	margin:0;
	list-style:none;
	font-weight:normal;
}

a:hover{
	color:#000;
}


.clear{
	clear:both !important;
}


.outer-wrap{
	float:left;
	width:100%;
}

.inner-wrap{
	margin:0 auto;	
	width:1000px;
}

.main-wrap{
	margin:0 auto;
	width:1000px;
}

.header{
	float:left;
	width:1000px;	
}


.green-bg{
	background-image:url(../images/topbg.png);
	background-repeat:repeat;
	background-color:#7fac3c;	
	float:left;
	width:100%;
}

.logo{
	float:left;
	width:130px;
	margin-top:10px;
}
.navigation{
	float:right;
	width:650px;
	background-image:url(../images/navbg.png);
	background-repeat:repeat-x;
	
}

.navigation ul{
	list-style:none;
}

.navigation ul li{
	float:left;
	height:45px;
	line-height:45px;
}

.navigation ul li a{
	padding:0 25px;
	color:#fff;
	font-size:16px;
}


.navigation ul li a:hover, .navigation ul li a.active{
	background-color:#90ba4a;
	float:left;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}


.banner{
	float:left;
	width:100%;
	background-image:url(../images/banner.jpg);
	background-repeat:no-repeat;
	background-color:#393939;
	height:290px;
}

.banner h2{
	color:#fff;
	padding:20px 0 0 30px;
	font-size:36px;
	text-shadow:1px 1px 15px #000, 1px 1px 15px #000, 1px 1px 15px #000
}

.search-criteria{
	margin:15px 0 0;
	float:left;	
	width:1000px;
}

.dropdown{
	width:200px;
	height:45px;
	margin-right:15px;
	margin-bottom:15px;
	padding:10px 15px;
	background-image:url(../images/inputbg.png);
	background-repeat:repeat-x;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
}


.big-textbox{
	width:300px;
	height:25px;	
	padding:10px 15px;
	background-image:url(../images/inputbg.png);
	background-repeat:repeat-x;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	margin-bottom:15px;
}



.orange-btn{
	background-image:url(../images/orangebtn.png);
	background-repeat:repeat-x;
	background-color:#e48c2b;
	color:#fff;
	font-size:20px;
	color:#fff;
	border:none;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	height:45px;
	text-align:center;
	padding:0 25px;
	
}

.orange-btn a{
	padding:10px 0;
	color:#fff;
	display:block;
	font-size:16px;
}

.orange-btn:hover{
	cursor:pointer;
	background-color:#91c540 !important;
	background-image:none;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;

}
.content{
	width:970px;
	float:left;
	margin:10px 0;
	background-color:#fff;
	border:1px solid #dcdcdc;
	padding:15px;
}

.content h2{
	color:#2e2e2e;
	font-size:18px;
	 font-family: 'OpenSansRegular';
	 border-bottom:1px solid #dcdcdc;
	 padding-bottom:10px;
	 margin-bottom:15px;	
}



.feature-services{
	float:left;
	width:970px;
}

.service{
	float:left;
	width:220px;
	margin:0 20px 0 0;
	text-align:center;
}

.service:hover img{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	opacity:0.4;
	 filter:alpha(opacity=40);
}




	

.service img{
	margin-bottom:25px;
}

.service h2{
	font-size:20px;
	color:#6aaa04;
	padding-bottom:10px;
}

.service p{
	font-size:14px;
	color:#727272;
	line-height:20px;
}


.shadow{
	margin:50px 0;
	float:left;
	width:950px;
}

.sidebar{
	float:left;
	width:225px;
	font-size:12px;
}

.sidebar span{
	
}

.listing ul{
	margin:15px 0 10px 0;
}

.listing ul li{
	display:block;
	margin:5px 0 0 0;
}

.listing ul li a{
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 5px;
	color:#0378bb !important;
	padding:0 0 0 15px;
	font-size:12px;

}

.listing ul li a:hover{
	color:#000 !important;
}

.sidebar a{
	color:#d77918;
}

.sidebar a:hover{
	color:#000;
}

.latest-news{
	float:left;
	width:225px;
	margin:15px 0 0px 0;
	
}

.news-row{
	margin-bottom:15px;
	float:left;
}

.news-row .date{
	float:left;
	width:36px;
	background-image:url(../images/calendarbg2.png);
	background-repeat:no-repeat;
	height:40px;
	color:#3f3f3f;
	font-size:13px;
	text-align:center;
	line-height:14px;
	padding:3px 0 0 0;
	margin-top:0px;
}
.news-row .newstext{
	font-size:12px;
	float:right;
	width:170px;
	line-height:14px;
	padding-left:10px;
	
}

.news-row .newstext h4{
	color:#0378bb;
	padding:0 0 0px 0;
	font-size:13px;
}


.grid{
	width:100%;
	border-collapse:collapse;	
	background-color:#fcfcfc;
	border:1px solid #ccc;
}

.grid thead{
	background-image:url(../images/headingbg.png);
	background-repeat:repeat-x;
}

.grid td{
	padding:5px 0;
	color:#666666;
	border-top:1px solid #fcfcfc;
	border-botom:1px solid #fcfcfc;
	text-align:center;
}
.grid thead th{
	text-align:center;
	color:#fff;
	padding:15px 0;
}

.grid .row{
	background-color:#fcfcfc;
}

.grid .row:hover, .grid .row:hover td, .grid .row:hover, .grid .row-active td{
	background-color:#e6e6e6;
	border-top:1px solid #cfcfcf;
	border-botom:1px solid #cfcfcf;
}

.grid .altrow{
	background-color:#e6e6e6;
}

.action-btns img{
	padding:0 10px 0 0;
}

.grid td a{
	color:#666666;
}

.btn-red{	
	background-color:#e05746;	
	text-align:center;
	margin:0 0 20px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	
}

.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
}

.btn-red a{
	font-size:18px;
	color:#fff;	
	background-color:#e05746;
	height:50px;
	line-height:50px;
	width:180px;
	display:inline-block;
	border-bottom:5px solid #b9b9b9;
	
}

.btn-red a:hover{
	text-align:center;	
	color:#fff;	
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background-color:#e3b740;	
	border-bottom:5px solid #b78b14;	
}

.pull-right{
	float:right;
}

.pull-left{
	float:left;
}

.paignation{
	float:right;
	width:1000px;
	margin-top:20px;
}


.paignation ul{
	list-style:none;
	float:right;
}

.paignation ul li{
	float:left;	
}

.paignation ul li a{
	padding:2px 8px;
	color:#666666;
	font-size:14px;
	background-color:#fff;
	border:1px solid #666666;
	margin:0px 4px;
}


.paignation ul li a:hover, .paignation ul li a.active{
	background-color:#e05746;
	color:#fff;
	border:1px solid #b9b9b9;
}


.content-table{
	width:100%;
	border-collapse:collapse;	
	background-color:#fff;
	border-bottom:3px solid #bcbcbc;	
	float:left;
}

.content-table h1{
	background-color:#298bcc;
	height:60px;
	line-height:60px;
	padding:0 0 0 30px;
	font-size:18px;
	font-family: 'OpenSansSemibold';
	border-bottom:3px solid #ccc;
	color:#fff;
	
}

.form-wrap{
	float:left;
	width:920px;
	padding:30px;
}

.form-row{
	float:left;
	width:920px;
	margin-top:10px;
}

.form-label{
	float:left;
	width:200px;
	font-size:14px;
	padding-top:10px;
}

.form-textbox{
	float:left;	
	width:260px;
	/*border:1px solid #ccc;*/
	padding:10px 20px 10px 20px;
	-webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow:-2px 2px 2px 0 rgba(0, 0, 0, 0.3);
	border:none;
}

.btn-submit{
	margin:10px 0 0 200px;
	color:#fff;
	border-left:none;
	border-right:none;	
	font-size:18px;
	height:60px;
	line-height:60px;
	width:180px;
	border-bottom:5px solid #b9b9b9;
}

.btn-submit:hover{
	margin:10px 0 0 200px;
	color:#fff;
	border-left:none;
	border-right:none;	
	font-size:18px;	
	background-color:#e3b740;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border-bottom:5px solid #b78b14;
}


.main-content{
	float:right;
	width:690px;
	border:1px solid #f4f6f8;
	padding:15px;
}


.jobs-row{
	width:690px;
	float:left;
	margin-bottom:15px;
	padding-bottom:15px;
	border-bottom:1px solid #dae0e6;
}

.jobs-text{
	width:590px;
	float:left;
}

.jobs-text h4{
	width:490px;
	float:left;
	font-size:16px;
	color:#0378bb;
}

.jobs-text .date{
	width:90px;
	float:left;
	font-size:12px;
	color:#b0b0b0
}

.jobs-text .date img{
	margin:0 5px -3px 0;
}

.jobs-text p{
	width:600px;
	float:left;
	font-size:14px;
	color:#757b83;
	margin:10px 0 0 0;
	font-size:13px;
}


.newpaper-logo{
	float:right;
}

.latest-videos{
	float:left;
	width:940px;
	background-color:#f4f4f4;
	border:1px solid #d5d5d5;
	border-bottom:4px solid #aad665;
	padding:20px 10px;
}

.video-links{
	margin:20px 0 0 20px;
	float:left;
	width:265px;
}

.video-links a{
	font-size:13px !important;
	
}

.video-links ul li {
	font-size:13px !important;
	margin-bottom:10px;	
}

.flash-player{
	float:right;
	width:585px;
}


.footer-bg{
	background-color:#fbfbfb;
	border-top:1px solid #dedede;
	padding:15px 0;
}


.footer-col{
	background-color:#fbfbfb;		
	float:left;
	width:170px;
	padding-right:10px;
	border-right:1px solid #dedede;
	margin-right:10px;
	min-height:150px;
}

.footer-col h5{
	padding-bottom:15px;
	color:#2b2b2b;
	font-size:17px;
	text-transform:uppercase;
}

.footer-col p{
	padding-bottom:10px;
	color:#919090;
	font-size:12px;	
}

a.facebook-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/facebook-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.facebook-icon:hover{
	background-image:url(../images/facebook-icon.png);
	background-repeat:no-repeat;	
}

a.twitter-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/twitter-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.twitter-icon:hover{
	background-image:url(../images/twitter-icon.png);
	background-repeat:no-repeat;	
}

a.linkedin-icon{
	float:left;
	width:30px;
	height:30px;
	background-image:url(../images/linkedin-icon.png);
	background-repeat:no-repeat;
	margin-right:8px;
	
}

a.linkedin-icon:hover{
	background-image:url(../images/linkedin-icon.png);
	background-repeat:no-repeat;	
}

.footer-col ul li{
	display:block;
	margin-bottom:5px;
}

.footer-col ul li a{
	color:#0378bb;
	font-size:12px !important;	
}

.footer-col ul li a:hover{
	color:#000;	
}

.nobdr-spacing{
	border:none !important;
	padding:0 !important;
}


.address-row{
	float:left;
	margin-bottom:5px;
}

.address-row a{
	color:#0378bb;
}

.address-row a:hover{
	color:#454545;
}

.address-row .icon{
	float:left;
	width:35px;
}

.address-row .text{
	float:right;
	width:170px;
	font-size:12px;
	line-height:16px;
	padding-left:10px;
}

.copyright-bg{
	background-color:#6d6e6f;
	padding:10px 0;
	font-size:12px;
	color:#afafaf;
}

.copyright-bg a{
	color:#ececec;
}

.copyright-bg a:hover{
	color:#000;
}

.top-space{padding-top:8px;}



#topcontrol{
	 bottom: 5px;
    cursor: pointer;
    opacity: 1;
    position: relative;
    right: 5px;
	display:none;
}
