@charset "utf-8";
/* CSS Document */

/* common */
.shadow{
	background:black;
	position:absolute;
	left:0;
	right:0;
	top:-50px;
	bottom:0;
	width:100%;
	height:100%;
	z-index:99;
	display:none;
	
}
.loader{
	position:absolute;
	left:45%;
	top:45%;
	z-index:999;
	display:none;
}


.rounded-input{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

.select2-container{
	width:260px;
}
.select2-container .select2-choice{
	height:47px;
	background:white;
	border:1px solid #DDDDDDD;
	line-height:47px;
	
}
.select2-container .select2-choice .select2-arrow{
	background:none;
	border:none
}
#main-form .orange-btn{
	width:120px;
}

/* tabs section */
.tabs-container .qTransformInput{
	margin-right: 10px;
}


.tab-control-input{
	float: left;
	margin-right: 4px;
}

.btn-advance-search{
	float: right;
	margin-top: 5px;
}
.btn-advance-search a{
	color: white;
}

.advance-jo-section .btn-blue2{
	height: 48px;
	width: 100px;
	font-size: 17px;
	text-align: center;
}

.job-listing .left-search-icon{
	margin: 4px -2px 0 0;
	height: 34px;
	float: left;
}

.job-listing .select2-container{
	width: 226px;
	margin: 4px 0 4px 5px;
	float: left
}