
div.calendar
{
  font-size: smaller;
  color: #000;
}

div.calendar.popup
{
  margin-left: -40px;
  margin-top: -100px;
}

div.calendar table
{
 /* background-color: #eee;*/
  /*border: 1px solid #aaa;*/
 /* border-collapse: collapse;*/
 padding:2px;
 margin-top:5px;
}

div.calendar thead {
  background-color: white;
}

div.calendar td,
div.calendar th
{
  padding: 3px;
  text-align: center;
}

div.calendar td.title
{
  font-weight: bold;
  background-image:url(../images/calendar_head.jpg);
  background-repeat:repeat-x;
  height:18px;
  	border-radius:4px;
	-moz-border-radius:4px;
	-webkits-border-radius:4px;
	background-color:#d7d8d8;
	border:1px solid #c4c5c5;
}

div.calendar th
{
  /*background: #ddd;
  border-bottom: 1px solid #ccc;*/
  border-top: 1px solid #ccc;
  font-weight: bold;
  color: #555;
}

.weekend{
	font-size:11px !important;
}

div.calendar tr.days td {
  width: 2em;
  color: #555;
  text-align: center;
  cursor: pointer;
  background-image:url(../images/daysbg.png);
  background-repeat:repeat-x;
  border:1px solid #ccc;
}

div.calendar tr.days td:hover,
div.calendar td.button:hover
{
  background-color: #34ABFA;
  cursor: pointer;
}

div.calendar tr.days td:active
div.calendar td.button:active
{
  background-color: #cde;
}

div.calendar tr.days td.selected
{
  font-weight: bold;
  background-color: #10afe7 !important;
  color: #0378bb !important;
}

div.calendar tr.days td.today
{
  font-weight: bold;
  color: #d50000;
  background-color:#10afe7 !important;
}

div.calendar tr.days td.otherDay
{
  color: #bbb;
}
