@charset "utf-8";
/* CSS Document */

/* common */
.shadow{
	background:black;
	position:absolute;
	left:0;
	right:0;
	top:-50px;
	bottom:0;
	width:100%;
	height:100%;
	z-index:99;
	display:none;
	
}
.loader{
	position:absolute;
	left:45%;
	top:45%;
	z-index:999;
	display:none;
}



.select2-container{
	width:260px;
}
.select2-container .select2-choice{
	height:47px;
	background:white;
	border:1px solid #DDDDDDD;
	line-height:47px;
	
}
.select2-container .select2-choice .select2-arrow{
	background:none;
	border:none
}
#main-form .orange-btn{
	width:120px;
}

